li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}
